div.countdown-box {
    background-color: tomato;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}

div.ghlink {
    text-align: right;
    font-family: Georgia, serif;
    text-decoration: none;
}

h1.question {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

h2.options {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}
