div.countdown-box {
    background-color: mediumslateblue;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: 200px;
}

h1.timer {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

