section.container {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
div.one {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}
div.two {
    margin-left: 15%;
    height: 200px;
    background: orange;
}

div.box-one {
    background-color: tomato;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}

div.ghlink {
    text-align: right;
    font-family: Georgia, serif;
    text-decoration: none;
}

h1.question {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
}

h2.options {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}
