div {
  line-height: 1.3em
  vertical-align: top
  margin-bottom: 1em
  border-radius: 0.5em
  padding: 1em
  box-sizing: border-box
  width: 45%
}
  
div.ib {
  background: salmon
  border: solid red 1px
  display: inline-block
}

div.ghlink {
    text-align: right;
    font-family: Georgia, serif;
    text-decoration: none;
}

h1 {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
}

h2 {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}
