 <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/timer.js') }}"></script>
</head>

<a href="https://github.com/ambeale">
  <div class="ghlink">
    ambeale
    <img src="static/github-logo.png" height='16' width='16'>
  </div>
</a> 
     

<!-- Display the countdown timer in an element -->
<div class="countdown-box"> 
  <h2 class="explanation">Countdown to Hackbright:</h2> 
  <h1 id="countdown" class="timer">&nbsp;</h1> 
  <h1>🎉👩‍💻💪</h1>
</div>
